@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__card {
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 50px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #fff;
  .icon__container {
    border-radius: 100%;
    background-color: #ffc1c1;
    width: 86px;
    height: 86px;
    @include flex_center();
    margin: auto;
  }
  h2 {
    margin-top: 25px;
    font-weight: 600;
  }
  p {
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
