@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: #f8f8f8;
  padding-top: 60px;
  .flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    @media screen and (max-width: 700px) {
      padding-bottom: 70px;
    }
    @media screen and (max-width: 700px) {
      flex-flow: column nowrap;
      align-items: center;
      text-align: center !important;
    }
    .footer__head {
      @media screen and (max-width: 700px) {
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        max-width: 200px;
        line-height: 150%;
        margin: 20px 0;
        font-weight: 500;
      }
      .socials {
        padding-top: 10px;
        display: flex;
        gap: 14px;
        @media screen and (max-width: 700px) {
          justify-content: center;
        }
        .social__box {
          display: block;
          width: 30px;
          height: 28px;
          border-radius: 3px;
          background-color: #252525;
          @include flex_center();
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .footer__lists {
      display: flex;
      @media screen and (max-width: 1100px) {
        flex-flow: column nowrap;
      }
      .list__group {
        display: flex;
        @media screen and (max-width: 700px) {
          flex-flow: column nowrap;
        }
        ul {
          list-style: none;
          margin-left: 110px;
          @media screen and (max-width: 1300px) {
            margin-left: 60px;
          }
          @media screen and (max-width: 700px) {
            margin-left: 0px;
            margin-top: 40px;
          }
          li.title {
            font-weight: 600;
            margin: 0;
            font-size: 16px;
            cursor: auto;
            padding-bottom: 10px;
            &:hover {
              color: #252525;
            }
          }
          li {
            font-size: 14px;
            margin: 20px 0;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: $red;
            }
          }
        }
      }
      .second__group {
        @media screen and (max-width: 1100px) {
          margin-top: 30px;
        }
        @media screen and (max-width: 700px) {
          margin-top: 0px;
        }
      }
    }
  }
  .footer__bottom {
    @include flex_between();
    margin: 20px 0;

    p,
    .copyright {
      font-size: 13px;
      opacity: 0.8;
      @media screen and (max-width: 700px) {
        font-size: 11px;
      }
    }
  }
}
